<div *ngIf="aaa==2" class="d-flex justify-content-center">
    <img
        src="https://yuanxucong.oss-cn-hangzhou.aliyuncs.com/imgs/fan_high.jpg?OSSAccessKeyId=LTAI4Fhcvcfg2jQnGopSEBqu&Expires=1609045672&Signature=T%2FtVboYuSTmPr4CiAfbnRKcNYVc%3D">
</div>
<div *ngIf="aaa==1" class="d-flex justify-content-center">
    <img
        src="https://yuanxucong.oss-cn-hangzhou.aliyuncs.com/imgs/fan_on.jpg?OSSAccessKeyId=LTAI4Fhcvcfg2jQnGopSEBqu&Expires=1609045653&Signature=2PW2BqjW2EuCr2Uob0PI5BgVCiI%3D">
</div>
<div *ngIf="aaa==0" class="d-flex justify-content-center">
    <img
        src="https://yuanxucong.oss-cn-hangzhou.aliyuncs.com/imgs/fan_off.jpg?OSSAccessKeyId=LTAI4Fhcvcfg2jQnGopSEBqu&Expires=1609045620&Signature=fBg1KJHYx7NH7uBRC3McNhMaTJc%3D">
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-success" (click)="turnOn()">低档</button>
    <button type="button" class="btn btn-outline-warning" (click)="turnHigh()">高档</button>
    <button type="button" class="btn btn-outline-danger" (click)="turnOff()">关闭</button>
    <button type="button" class="btn btn-outline-info" (click)="back()">返回</button>
</div>