<div class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand word">设备信息</a>
</div>

<div class="d-flex justify-content-center">
    <!-- ///////////////////////////////////////灯///////////////////////////////////////////// -->
    <div class="card border-warning item-boxes" style="width: 18rem; margin: 10px;">
        <img src="../../assets/img/light.jpg" class="card-img-top card-img-padding:1rem" alt="img-thumbnail">
        <div class="d-flex justify-content-center">
            电灯
        </div>
        <button type="button" class="btn btn-primary round" (click)="light()">详情</button>
    </div>
    <!-- ///////////////////////////////////温湿度//////////////////////////////////////// -->
    <div class="card border-warning item-boxes" style="width: 18rem; margin: 10px;">
        <img src="../../assets/img/ws.jpg" class="card-img-top card-img-padding;1rem" alt="img-thumbnail">
        <div class="d-flex justify-content-center">
            温湿度
        </div>
        <button type="button" class="btn btn-primary" (click)="ws()">详情</button>
    </div>
    <!-- ///////////////////////////////////风扇//////////////////////////////////////// -->
    <div class="card border-warning item-boxes" style="width: 18rem; margin: 10px;">
        <img src="../../assets/img/fans.jpg" class="card-img-top card-img-padding;1rem" alt="img-thumbnail">
        <div class="d-flex justify-content-center">
            风扇
        </div>
        <button type="button" class="btn btn-primary" (click)="fan()">详情</button>
    </div>
</div>

<div class="d-flex justify-content-center">
    <!-- ///////////////////////////////////空调//////////////////////////////////////// -->
    <div class="card border-warning item-boxes" style="width: 18rem; margin: 10px;">
        <img src="../../assets/img/AC.jpg" class="card-img-top card-img-padding;1rem" alt="img-thumbnail">
        <div class="d-flex justify-content-center">
            空调
        </div>
        <button type="button" class="btn btn-primary" (click)="ac()">详情</button>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <div class="card border-white item-boxes" style="width: 18rem; margin: 10px;">
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <div class="card border-white item-boxes" style="width: 18rem; margin: 10px;">
    </div>
</div>